.nav {
	
	padding: 35px 0 35px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation-list {
			display: flex;
			align-items: center;
        ul {
            display: flex;
            align-items: center;
            column-gap: 50px;
        }
    }
		
		
}

.nav-modile__btn {
	//display: block;
	display: none;
	margin-left: 35px;
}
.modile__btn {
	
	cursor: pointer;
	width: max-content;
	height: 28px;
	&_icon {
		display: block;
		height: 5px;
		width: 40px;
		border-radius: 5px;
		background-color: #000;
		position: relative;

		&::before, &::after {
			position: absolute;
			content: '';
			background-color: inherit;
			border-radius: inherit;
			width: inherit;
			height: inherit;
			left: 0;
		}
		&::before {
			top: -10px;
		}
		&::after {
			bottom: -10px;
		}
	}
}

.modile__btn.close {
	&_icon {

		&::before, &::after {
		}
		&::before {
		}
		&::after {
		}
	}
}

.logo-mobile {
	//display: block;
	display: none;
}

.dropdown-menu {
	//display: block;
	height: 0;
	position: absolute;
	right: 20px;
	top: 120px;
	width: 280px;
	background: rgba(214, 232, 240, 0.247);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	overflow: hidden;
	li {
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	transition: height .2s cubic-bezier(0.215, 0.610, 0.355, 1);
	z-index: 9;
}

.dropdown-menu.open {
	height: 320px;
}

@media (max-width: 1024px) {
	.navigation-list {
		li {
			display: none;
		}
	}
	.nav-modile__btn {
		display: block;
	}
}
@media (max-width: 613px) {
	.logo {
		img {
			display: none;
		}
	}
	.logo-mobile {
		display: block !important;
	 }
}
@media (max-width: 425px) {
	.nav {
		.btn {
			padding: 10px 15px;
		}
	}
}