.title {
	font-weight: 600;
	font-size: 44px;
	line-height: 66px;
}

@media (max-width: 684px) {
	.title {
		font-size: 38px;
	}
}
@media (max-width: 406px) {
	.title {
		font-size: 30px;
	}
}
@media (max-width: 406px) {
	.title {
		font-size: 30px;
	}
}